/* Browser defaults */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
    font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    background-color: #636363;
}

body {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

header, footer {
    background-color: #007443;
    width: 100%;
    color: #ffffff;
    padding: 10px;
}

header {
    top: 0;
    border-bottom: 2px solid #01ca73;
    position: fixed;
    z-index: 10;
}

.header-info {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1100px;
    padding: 0 25px 0 5px;
    margin: 0 auto;
}

main {
    box-sizing: border-box;
    padding: 60px 30px 20px 30px;
    margin: 0 auto;
    max-width: 1150px;
    width: 100%;
    background-color: #1a19197c;
    height: inherit;
}

footer {
    text-align: center;
    font-size: 50%;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid #6d6d6da9;
    transition: border-color .2s linear, box-shadow .2s linear;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

button {
    padding: 10px 20px;
    background-color: #53a308;
    background: -moz-linear-gradient(top, #75c722 0%, #53a308 100%);
    background: -webkit-linear-gradient(#75c722 0%, #53a308 100%);
    background: -o-linear-gradient(#75c722 0%, #53a308 100%);
    background: linear-gradient(#75c722 0%, #53a308 100%); 
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
    outline: none;
    border: none;
}

button:active {
    background: linear-gradient(#53a308 0%, #2a5004 100%); 
}
