.filter-panel {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: baseline;
    padding-right: 5px;
}

.filter-opts, .input-filter {
    margin: 0 5px;
}

.input-filter {
    width: 150px;
    position: relative;
}

.input-filter i {
    position: absolute;
    top: 15px;
    right: 5px;
    color: #6d6d6da9;
}

.filter-opts {
    position: relative;
}

.filter-modal {
    position: absolute;
    top: 48px;
    box-shadow: 0 5px 5px #2e2e2e;
    z-index: 5;
    background: #fff;
    display: none;
    flex-wrap: wrap;
    flex-direction: row;    
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: stretch;
}

.triangle-isosceles:after {
    content:"";
    position:absolute;
    bottom:-15px; /* value = - border-top-width - border-bottom-width */
    border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

.triangle-isosceles.top:after {
    top:-15px; /* value = - border-top-width - border-bottom-width */
    bottom:auto;
    left:auto;
    border-width:0 15px 15px; /* vary these values to change the angle of the vertex */
    border-color:#fff transparent;
}

@media only screen and (max-width: 2000px) and (min-width: 900px) {
    .filter-modal {
        height: 200px;
        width: 800px;
        right: -173px;
    }
    
    .triangle-isosceles.top:after {
        right: 215px;
    }   

    .availability-toggle {
        width: 200px;
    }

    .gender-radio {
        width: 280px;
    }

    .slider-rating {
        width: 150px;
    }
    
    .slider-pricing {
        width: 515px;
        margin-right: 15px;
    }

    .slider-rating > div {
        margin-left: 10px; 
    }

    .slider-pricing,
    .slider-rating {
        margin-top: 10px;
    }  

    .filter-modal > div:nth-child(-n+3) {
        border-bottom: 1px solid #007443;
    }
}

@media only screen and (max-width: 899px) {
    .filter-panel {
        position: relative;
        justify-content: space-between;
    }

    .filter-opts {
        position: static;
    }

    .filter-opts {
        float: left;
        margin-left: 10px;
    }

    .filter-modal {
        top: 55px;
        max-width: 100%;
        max-height: 800px;
    }
    
    .triangle-isosceles.top:after {
        left:40px;
    }   

    .filter-modal > div {
        width: 100%;
        padding-bottom: 30px;
    }

    .filter-modal > div:not(:first-child) {
        padding-top: 20px;
    }

    .filter-modal > div:not(:last-child) {
        border-bottom: 1px solid #007443;
    }

    #slider-range-rating,
    #slider-range-pricing {
        max-width: 95%;
        margin-left: 7px;
    }
}

.availability-toggle h1,
.gender-radio h1,
.category-dropdown h1,
.slider-rating label,
.slider-pricing label {
    font-weight: bold;
    margin-bottom: 10px;
}

.availability-toggle label,
.availability-toggle p {
    display: inline-block;
    float: left;
}

.availability-toggle label {
    margin-right: 10px; 
}

.availability-toggle p {
    font-size: 75%;
    margin-top: 5px; 
}

.gender-radio p {
    font-size: 75%;
    margin-top: 2px;
    margin-right: 5px;
}

/* Toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
}
  
.switch input {
    display:none;
}
  
.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 2px solid #007443;
    
    -webkit-transition: transform .4s;
    transition: transform .4s;

    border-radius: 32px;
}
  
.toggle:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 1px;
    background-color: #007443;
    -webkit-transition: transform .4s;
    transition: transform .4s;
    border-radius: 50%;
}
  
input:checked + .toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Radio button */
.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #007443;
}

.radio-container input:checked ~ .checkmark {
    background-color: #fff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
 	top: 1px;
	left: 1px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #007443;
}

/* Dropdown */
.dropbtn {
    display: block;
    background-color: #007443;
    color: #fff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    min-width: 200px;
    text-align: left;
    border-radius: 5px;
    box-sizing: border-box;
}

.dropbtn i {
    position: absolute;
    top: 10px;
    right: 10px;

}

.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 6;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Sliders */
#slider-range-rating,
#slider-range-pricing {
    height: 2px;
    width: 100%;
    background: #ebebeb;
    border: none;
}

#slider-range-rating > span,
#slider-range-pricing > span {
    border-radius: 28px;
    top: -8px;
    outline: none;
    background: #007443;
    border: none;
    
}

#slider-range-rating > span:hover,
#slider-range-rating > span:active,
#slider-range-pricing > span:hover,
#slider-range-pricing > span:active {
    box-shadow: 0 1px 3px #000000;
}

.ui-slider-range.ui-corner-all.ui-widget-header {
    background: #007443;
}

#amount-rating,
#amount-pricing {
    border: 0; 
    font-weight: bold;
    color: #007443;
} 

