/* Browser defaults */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
    height: 100%;
    font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    background-color: #636363;
}

.login-model {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.login-model>div {
    border-radius: 10px;
    max-width: 500px;
    margin: 12em auto;
    background: #bebebe;
}

.login-header {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 3px 3px #888888;
    border-radius: 10px 10px 0 0;
    background-color: #ebebeb; 
}

.login-body {
    padding: 10px;
    text-align: left;
}

.input-login, .input-pwd {
    position: relative;
    padding: 5px 20px;
}

input {
    display: block;
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid #6d6d6da9;
    transition: border-color .2s linear, box-shadow .2s linear;
    outline: none;
}

.input-login i, .input-pwd i {
    position: absolute;
    right: 8%;
    top: 53%;
    color: #6d6d6da9;
}

input:invalid:focus,
input:invalid:not(:focus) {
    border-color: #be0e0e;
}

input:invalid:focus {
    box-shadow: 0 0 10px #ca4e4e;
}

input:invalid:focus + i,
input:invalid:not(:focus) + i {
    color: #be0e0e;
}

input:valid:focus {
    border-color: #12a812;
    box-shadow: 0 0 10px #75c275;
}

input:valid:focus + i {
    color: #12a812;
}

.btn-submit {
    padding: 10px 20px;
}

.btn-submit button {
    padding: 10px 30px;
    float: right;
    font-size: 125%;
    background-color: #53a308;
    background: -moz-linear-gradient(top, #75c722 0%, #53a308 100%);
    background: -webkit-linear-gradient(#75c722 0%, #53a308 100%);
    background: -o-linear-gradient(#75c722 0%, #53a308 100%);
    background: linear-gradient(#75c722 0%, #53a308 100%); 
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}