.item-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.item-card {
    width: 100%;
    background-color: #dddddd;
    border-radius: 3px;
    margin: 10px;
    position: relative;
}

.item-image {
    height: 300px;
    overflow: hidden;
    position: relative;
 }
 
 img {
     max-width: 100%;
     border-radius: 3px;
 }
 
 .rating {
     background-color: #000000;
     opacity: 0.7; 
     position: absolute;
     top: 89%;
     width:95%;
     color: #dfc800;   
     padding: 5px 15px;
     font-size: 125%; 
 }

@media only screen and (max-width: 2000px) and (min-width: 900px) {
    .item-card {
        width: 30%;
    }
}

@media only screen and (max-width: 899px) and (min-width:600px) {
    .item-card {
        width: 44%;
    }
}

@media only screen and (max-width: 599px) {
    .item-card {
        width: 100%;
    }
}

.description, 
.footer {
    padding: 15px;
}

.description .header {
    padding-bottom: 10px;
    margin-bottom: 10px; 
    border-bottom: 2px solid #53a308;
    font-weight: bold;
}

.description .body {
    padding-bottom: 15px;
}

.price, .btn-show-more {
    position: absolute;
}

.price {
    left: 15px;
    font-size: 150%;
    bottom: 19px;
}

.price i {
    color: #53a308;
}

.btn-show-more {
    bottom: 15px;
    right: 15px;
}




