/* Browser defaults */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
    height: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #636363;
}

.container {
    width: 100%;
    background-color: #1a19197c;
    height: 100vh;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
}
  
.modal:target {
    visibility: visible;
}
  
.modal>div {
    border-radius: 10px;
    max-width: 500px;
    margin: 12em auto;
    background: #bebebe;
}

.modal-header {
    padding: 10px;
    text-align: center;
    box-shadow: 0px 1px 1px #888888;
    border-radius: 10px 10px 0 0;
    background-color: #ebebeb; 
}

.modal-body {
    padding: 10px;
    text-align: left;
}
  
  