.product-details {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 5fr .5fr;
    grid-template-areas: 
      "photo title"
      "photo description"
      "photo footer";
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    max-height: 30%;
}

.product-image {
    max-width: 500px;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    grid-area: photo; 
}

img {
    max-width: 100%;
}

.rating {
    background-color: #000000;
    opacity: 0.7; 
    position: absolute;
    top: 92%;
    width:95%;
    color: #dfc800;   
    padding: 5px 15px;
    font-size: 125%; 
    z-index: 4;
}

@media only screen and (max-width: 800px) {
    .product-details {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
            "photo"
            "title"
            "description"
            "footer";
    }

    .product-image {
        max-width: 100%;
    }
}

.product-title {
    grid-area: title;
    align-self: center;
    padding: 10px;
    font-weight: bold;
    font-size: 150%;
    border-bottom: 2px solid #007443;
}

.product-description {
    grid-area: description;
    padding: 10px;
    justify-self: start;
    border-bottom: 1px solid #6d6d6da9;
}

.product-footer {
    grid-area: footer;
    padding: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}

.price {
    font-size: 125%;
}

.price i {
    color: #007443;
}

.btn {
    font-size: 100%;
    padding: 10px 50px;
}

.price-details {
    text-align: center;
}
.price, .availability {
    display: inline-block;
    margin-right: 10px;
}

.availability span {
    font-weight: bold;
}

.availability span.warn {
    color: #d80909;
}

