.product-details {
    grid-template-rows: 1fr 4fr 1fr .5fr;
    grid-template-areas: 
        "photo title"
        "photo description"
        "photo admin-opts"
        "photo footer";

    padding: 20px;
    background: #ffffff;
    box-sizing: border-box;
    width: 100%;
    max-height: 30%;
}

.product-description {
    padding-bottom: 0;
    border-bottom: none;
}

.admin-options {
    grid-area: admin-opts;
    padding: 10px;
    border-bottom: 1px solid #6d6d6da9;

}

#blurred-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #ffffff73;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    display: none;
}

.edit-panel, .purchase, .delete {    
    display: none;
    position: absolute;
    flex-flow: column wrap;
    justify-content: space-between;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    z-index: 11;
    border-radius: 10px;
    background: #bebebe;
    box-shadow: 0 5px 10px #2e2e2e;
}

.purchase, .delete {
    top: 200px;
    max-width: 500px;
    max-height: 190px;
}

.header {
    padding: 10px 25px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    font-size: 110%;
    background: #ebebeb;
    box-shadow: 0px 3px 3px #888888;
}

.purchase .body,
.delete .body {
    text-align: center;
    padding: 20px 80px;
}

.footer {
    padding: 10px;
    align-self: flex-end;
}

.footer > button:first-child:not(:only-child) {
    background: -moz-linear-gradient(top, #b8b8b8 0%, #5a5a5a 100%);
    background: -webkit-linear-gradient(#b8b8b8 0%, #5a5a5a 100%);
    background: -o-linear-gradient(#b8b8b8 0%, #5a5a5a 100%);
    background: linear-gradient(#b8b8b8 0%, #5a5a5a 100%); 
}

.edit-panel {
    top: 70px;
    max-width: 600px;
    height: 540px;
    box-sizing: border-box;
}

.edit-body {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    grid-template-areas:
        "name link-to-img"
        "category img"
        "gender img"
        "description price"
        "description rating";
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .product-details {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
            "photo"
            "title"
            "description"
            "admin-opts"
            "footer";
    }

    .edit-panel {
        flex-wrap: nowrap;
        height: 115%;
        top:0px;
    }

    .edit-body {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-row-gap: 10px;
        grid-template-areas:
            "name"
            "category"
            "gender"
            "description"
            "link-to-img"
            "img"
            "price"
            "rating";
        padding: 10px 20px;
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
    }

}

.edit-body h1 {
    font-weight: bold;
    padding-bottom: 5px;
}

.edit-name {
    grid-area: name;
}

.category-dropdown {
    grid-area: category;
}

.gender-radio {
    grid-area: gender;
}

.edit-description {
    grid-area: description;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 5px;
    border: 2px solid #6d6d6da9;
    box-sizing: border-box;
}

.edit-link-to-img {
    grid-area: link-to-img;
}

.edit-link-to-img input {
    transition-property: box-shadow border-color;
    transition-delay: 2s;
}

.edit-link-to-img input:invalid:focus,
.edit-link-to-img input:invalid:not(:focus) {
    border-color: #be0e0e;
}

.edit-link-to-img input:invalid:focus {
    outline: none;
    box-shadow: 0 0 10px #ca4e4e;
}

.image-preview {
    max-width: 270px;
    max-height: 140px;
    overflow: hidden;
    grid-area: img;
}

.edit-price {
    grid-area: price;
}

.edit-rating {
    grid-area: rating;
}